Flask
firebase-admin
flask-cors
gunicorn
# Numpy 2.0 faciasını önlemek için 2'den küçük olsun diyoruz
numpy<2
# Eski çalışan dosyanızdaki OpenCV sürümü
opencv-contrib-python-headless
Pillow
pdf2image
requests